---
layout: travel
---

<a href="/travel.html">â† Travel Guide</a>

<h1><%= city.name %></h1>

<%= markdown(city.description) %>

<% city.except("name", "description").each do |name, items| %>
  <h2><%= name %></h2>

  <% items.each do |item| %>
    <p>
      <strong><%= item.name %></strong>

      <% if item.description %>
        <br>
        <%= item.description %>
      <% end %>
    </p>
  <% end %>
<% end %>
